<main role="main" class="container py-5" style="margin-bottom: 25%">

  <div class="accordion my-5 shadow" id="lessonsAccordion">
    <div class="card-header">
      <h1 class="mb-0">
        <a [routerLink]="'/Courses/'+lesson.course.id">{{lesson.course.name}}</a>-{{lesson.name}}
      </h1>
    </div>

    <div class="card-body">
      {{lesson.description}}
    </div>

    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn nav-link btn-block text-left" type="button" data-toggle="collapse"
                  data-target="#resourcesCollapse">
            资源
          </button>
        </h2>
      </div>

      <div id="resourcesCollapse" class="collapse show" aria-labelledby="headingOne" data-parent="#lessonsAccordion">
        <div class="card-body">

          <ul class="list-unstyled col">
            <li *ngFor="let file of lesson.resources" class="media bg-gray m-1">
              <i [class]="vh.getFileIcon(file.name)"></i>
              <div class="media-body container">
                <h5 class="mt-0 mb-2 col-8">{{file.name}}
                  <button *ngIf="acc.isTeacher" class="btn btn-danger mr-1 float-right"
                          (click)="excludeRes(file)">删除
                  </button>
                  <button class="btn btn-primary mr-1 float-right"
                          (click)="res.downloadResource(file)">下载
                  </button>
                </h5>
                <span class="col-sm">{{file.uploader}}</span>
                <small class="col">{{vh.formatFileSize(file.size)}}</small>


              </div>
            </li>
          </ul>
          <button *ngIf="acc.isTeacher"
                  class="btn btn-primary float-left m-3"
                  (click)="includeRes()">新增
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
<app-add-resource-dialog></app-add-resource-dialog>
