<div class="modal fade" [id]="cid" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">修改密码</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="form-group">
            <label for="chpwd-nowpwd">
              当前密码
            </label>
            <input type="password" class="form-control" id="chpwd-nowpwd"
                   [(ngModel)]="password[0]" required autofocus
            >
            <small class="text-muted form-text">请输入当前密码以确认身份。</small>
          </div>
          <div class="form-group">
            <label for="chpwd-newpwd">
              新密码
            </label>
            <input type="password" class="form-control" id="chpwd-newpwd"
                   [(ngModel)]="password[1]" required
            >
            <small class="text-muted form-text">一个安全的密码应该包含数字、大小写字母和符号。</small>
          </div>

        </div>
        <div class="form-group">
          <label for="chpwd-cfmpwd">
            确认密码
          </label>
          <input type="password" class="form-control" id="chpwd-cfmpwd"
                 [(ngModel)]="password[2]" required
          >
          <small *ngIf="password[2].length>0 && password[1]!==password[2]" class="text-danger form-text">
            确认密码与密码不一致。</small>
          <small *ngIf="password[2].length==0||password[1]===password[2]" class="text-muted form-text">
            请再次输入新密码。</small>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-warning"
                [disabled]="password[0].length==0||password[1].length==0||password[1]!==password[2]"
                (click)="submit()">确认
        </button>
      </div>
    </div>
  </div>
</div>
